@media screen and (min-width: 769px) {
    .specialCard {
        width: 250px !important;
        height: 250px !important;
        gap: 15px !important;
    }

    .contentSpecialCard {
        font-size: 15px !important;
    }

    .heading {
        font-size: 23px !important;
    }
}